.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;
  .drawer {
    transform: translateX(0);
  }
}

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }
}

.drawer {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  h2 {
    margin: 0;
    font-size: 24px;
  }
  .cartItems {
    flex: 1;
    overflow: auto;
  }
}

.cartItem {
  border: 1px solid #f4f4f4;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px 20px;
  margin-bottom: 10px;

  .cartItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 14px;
  }
  b {
    font-size: 14px;
  }
}

.CartTotalBlock {
  ul {
    margin: 20px 0;
  }
  li {
    display: flex;
    margin-bottom: 20px;
  }
  div {
    flex: 1;
    border-bottom: 1px dashed #c7c7c7;
    position: relative;
    top: -4px;
    margin: 0 10px;
  }
}
