body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #f4f4f4;
  img {
    margin-right: 15px;
  }

  h3,
  p {
    margin: 0;
  }
  li {
    cursor: pointer;
  }
}

.content {
  margin: 0;
}

.button {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.search-block {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  padding: 0 16px;
  position: relative;

  .clear {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
  }

  input {
    border: 0;
    font-size: 15px;
    padding: 10px;
    width: 200px;
  }
}

.remove-btn {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
.greenBtn {
  background-color: #9dd458;
  width: 325px;
  height: 55px;
  border-radius: 18px;
  border: none;
  font-size: 16px;
  color: #f4f4f4;
  transition: background 0.15s ease-in-out;
  cursor: pointer;
  position: relative;

  &:disabled {
    background-color: #bebebe;
    cursor: default;
    animation: greenBtn-Loading 0.8s ease-in-out infinite;
  }

  &:hover {
    img {
      transform: translateX(5px);
    }
  }

  img {
    position: absolute;
    right: 30px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
  }

  &:hover {
    background: lighten($color: #9dd458, $amount: 5%);
  }
  &:active {
    background: darken($color: #9dd458, $amount: 5%);
  }
}

@keyframes greenBtn-Loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
